<!-- Nav bar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" href="/">Mondaily</a>
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/matches" class="nav-link">Matches</a>
        </li>
        <li class="nav-item">
            <a href="/standing" class="nav-link">Standing</a>
        </li>
        {{!--
        <li class="nav-item">
            <a href="/tournament" class="nav-link">Tournament</a>
        </li> --}}
    </ul>

    <ul class="nav navbar-nav">
        <li class="nav-item login-item">
            <a class="nav-link btn-dark btn-block" href="/users/login">
                <i class="fa fa-sign-in"></i> Sign In
            </a>
        </li>
        <li class="nav-item register-item">
            <a class="nav-link btn-dark btn-block" href="/users/register">
                <i class="fa fa-user"></i> Register
            </a>
        </li>
        <li class="nav-item logout-item">
            <a class="nav-link btn-dark btn-block" href="#">
                <i class="fa fa-sign-out"></i> Logout
            </a>
        </li>
    </ul>
    </div>
    </div>
</nav>