<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="cssTemplate.css">
    <title>Document</title>
</head>

<body>
    {{#each reviews}}
    <div class="post-container">
        <div class="head-post">
            <img src="https://cdn.countryflags.com/thumbs/argentina/flag-3d-round-250.png" alt="">
            <div class="header-post">{{userId}}</div>
        </div>
        <div class="content-post">{{reviewText}}</div>
    </div>
    {{/each}}
</body>

</html>