.post-review-btn{
    position: relative;
    .review-box{
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        // padding: 28px 25px;
       display: inline-block;
       
        // margin: -20px 34px;
        // border-width: 5px;
        .btn{
            // margin-bottom: 30px;
        }
    }
}
.post-review{
    .review-text{
        width: 100%;
    }
}
.post-review{
    .modal-body{
        padding: 0px;
        .review-text{
            border: none;
            height: 200px;
        }
    }
}
.container-match-1{
    width: 100%;
    // margin-left: 680px;
    text-align: center;
    .container{
        width: 100%;

    }
   .event{
        width:100%;
    }
    
    .row.match{
        height: 30px;
        text-align: center;
        vertical-align: middle;
        line-height: 30px;
        color:white;  
        text-shadow:0 3px 5px rgba(0, 0, 0, 0.5);
        font-size: 20px;
        .home-team{
            height: 100%;
            background-color: #06b500;
            border-top-left-radius: 30px;
            img{
                position: absolute;
                top: 6px;
                right: 2px;
            }
            span{
                margin-right: 24px;
            }
        }
        .score{
            border: solid grey 1px;
            height: 100%;
            background-color: white;
            color:black;            
        }
        .away-team{
            height: 100%;
            background-color: #f93737;;
            border-top-right-radius: 30px;
            position: relative;
            img{
                position: absolute;
                top:6px;
                left:6px;
            }
            span{
                margin-left: 34px;
            }
        }
    }
}
.post-container{
    display: inline-block;
    width:400px;
}

.header-post{
    display: inline-block;
}

.head-post{
    height: 100%;
    width: 100%;
}

.content-post{
    margin-top:15px;
}


// Acutal post layout
$white_color : #fff;
$black_color : #000;
$greay_1_color : #DBDBDB;
$heading_text_color_grey:#707070;
$padding_content: 10px;
$font_size_header_profile:24px;
$font_size_body_text:20px;




.post{
    // height: 400px;
    width: 600px;
    margin-bottom: 20px;
    &__header{
       width: 100%;
       display: flex;
       padding: $padding_content;
        &__img_warp{
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border:none;
            // @include img-center;
            &__img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        &__profile_warp{
            margin-left: 10px;
            font-family: 'Nunito', sans-serif;
            color: $heading_text_color_grey;
            &__username{
                margin: 0;
                font-weight: 700;
                font-size: $font_size_header_profile;
            }
            &__posted_at{
                margin-top: 3px;
                font-size: 18px;
            }
        }
        &__icon_warp{
            margin-left:auto; 
            color: $heading_text_color_grey;
            position: relative;

            &__icon{
                &:hover{
                    cursor: pointer;
                    color: rgba($color: #000000, $alpha: .2);
                }
            }

            &__checkbox{
                display: none;
            }



            &__menu{
                position: absolute;
                top: -5px;
                left: -72px;
                list-style: none;
                background-color: $white_color;
                font-family: 'Nunito', sans-serif;
                color: rgba($color: $black_color, $alpha: .2);
                border: 1px solid rgba($color: $heading_text_color_grey, $alpha: .2);
                padding:5px;
                width: 100px;

                z-index: -100; 
               &__item{
                    &:first-child{
                        text-align: right;
                    }

                   &:hover{
                       color: $black_color;
                       cursor: pointer;
                   }
               }
            }
        }
       
    }

    &__body{
        width: 100%;
        padding: $padding_content;
        font-family: 'Raleway', sans-serif;

        &__text_warp{
            color: $heading_text_color_grey;
            font-size: $font_size_body_text;
        }

        &__comments_warp{
            
            
            &__icon{
                position: relative;

                &:hover i:hover{
                    color:red;   
                    cursor: pointer;
                }

                &__checkbox{
                    display: none;
                }

                // &__checkbox:checked ~ &__input{
                //     z-index: 10;
                // }

                &__checkbox:checked ~ &__input .post__comment {
                    // z-index: -10;
                    font-family: 'Raleway', sans-serif;
                    font-size: 18px;
                }

                &__content{
                    text-align: end;
                   
                }

                &__input{
                    position: absolute;
                    top: 0;
                    z-index: -10;
                }
            }
        }


        

    }



    // modifier for post
    &-border-grey{
        border: 1px solid rgba($heading_text_color_grey, .6);
    } 

    &-round{
        border-radius: 3px;
    }
    &-red{
        background-color: red; 
    }

    &-blue{
        background-color: blue;
    }

    &-white{
        background-color: $white_color; 
    }

    //elements inside the post
}


.comment{
    width: 100%;
    margin-top: 10px; 
    display: flex;

    &__img_warp{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &__img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    &__text_warp{
        margin-left: 10px;
        border-radius: 3px;
        background-color: #DBDBDB;
        flex: 1;
        padding:10px 0 0 10px;
    }

    &__username{
        color: $black_color;
        font-weight: bold;
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        margin: 0;
    }

    &__text{
        margin-left: 15px;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: $heading_text_color_grey;
    }

}