<div class="post-container">
    <div class="head-post">
        <img src="https://cdn.countryflags.com/thumbs/argentina/flag-3d-round-250.png" alt="">
        <div class="header-post">username nagasa</div>
    </div>
    <div class="content-post">Lorem ipsum dolor sit amet consectetur, adipisics</div>
</div>