<div class="hero-image">
    <div class="hero-text">
        <h1>Welcome to World Cup 2018</h1>
        <p>get started review you faviourte team</p>
        {{!--
        <button class="btn btn-primary btn-lg">Login In</button> --}}
    </div>
</div>