.hide {
  display: none; }

.hero-image {
  /* The image used */
  background: rgba(0, 0, 0, 0.5) url("https://api.fifa.com/api/v1/picture/tournaments-sq-6/254645_w") no-repeat;
  /* Set a specific height */
  height: 400px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-size: contain;
  position: relative; }

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

.standing-warper {
  width: 890px;
  margin-bottom: 70px; }
  .standing-warper .standing-title {
    width: 100%;
    background: linear-gradient(to right, #f00000, #dc281e);
    font-size: 24px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: 700; }
  .standing-warper .standing-content {
    font-family: 'Raleway', sans-serif; }
    .standing-warper .standing-content .standing-team-flag {
      width: 66px; }
    .standing-warper .standing-content .standing-team-name {
      font-size: 20px;
      margin-left: 15px;
      color: #01BAEF; }
      .standing-warper .standing-content .standing-team-name:hover {
        text-decoration: underline; }
    .standing-warper .standing-content tr {
      background-color: #e9ecef; }
      .standing-warper .standing-content tr:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer; }

.stand-match-row :hover {
  cursor: default; }

.matches-root {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-areas: "a a a a a . b b b b b b"; }
  .matches-root .match {
    grid-area: a;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }
    .matches-root .match .match-warp .match-location {
      font-size: 18px;
      font-style: italic; }
    .matches-root .match .match-warp .row {
      border-bottom: 5px solid rgba(0, 0, 0, 0.1); }
      .matches-root .match .match-warp .row .match-stat {
        position: relative;
        width: 30px;
        height: 30px;
        float: right; }
        .matches-root .match .match-warp .row .match-stat::before {
          content: "";
          width: 30px;
          height: 30px;
          display: block;
          border: 3px solid transparent;
          border-radius: 50%;
          border-top: 3px solid #00A8E8;
          border-bottom: 3px solid #EA3546;
          animation: spinner .8s ease-in-out infinite; }
        .matches-root .match .match-warp .row .match-stat::after {
          content: "live";
          display: inline;
          position: absolute;
          top: 3px;
          left: 6px;
          font-size: smaller; }
      .matches-root .match .match-warp .row .match-statistc {
        position: relative;
        width: 30px;
        height: 30px;
        float: right; }
        .matches-root .match .match-warp .row .match-statistc:hover {
          cursor: pointer;
          color: blueviolet; }
        .matches-root .match .match-warp .row .match-statistc::before {
          content: "";
          width: 30px;
          height: 30px;
          display: block;
          border: 3px solid transparent;
          border-radius: 50%;
          border-bottom: 3px solid #00A8E8; }
        .matches-root .match .match-warp .row .match-statistc::after {
          content: "stat";
          display: inline-block;
          position: absolute;
          top: 3px;
          left: 6px;
          font-size: smaller; }
      .matches-root .match .match-warp .row:hover {
        background: #00171F;
        color: white; }
        .matches-root .match .match-warp .row:hover .match-team-name {
          cursor: pointer; }
        .matches-root .match .match-warp .row:hover .match-icon-flag {
          cursor: pointer; }
    .matches-root .match .match-warp .match-time-container {
      text-align: center;
      position: relative;
      height: 100%;
      font-size: 18px;
      font-weight: 700;
      font-family: 'Nunito', sans-serif; }
      .matches-root .match .match-warp .match-time-container .match-time {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .matches-root .match .match-warp .match-team-container .match-team-name {
      display: inline-block;
      font-size: 18px; }
    .matches-root .match .match-warp .match-team-container .match-icon-flag {
      width: 70px;
      display: inline-block; }
    .matches-root .match .match-date {
      background: #00A8E8;
      color: white;
      font-size: 24px;
      font-family: 'Nunito', sans-serif; }
  .matches-root .today-match {
    grid-area: b; }
    .matches-root .today-match .match .match-warp .match-date {
      background: #EA3546; }

@keyframes spinner {
  to {
    transform: rotate(360deg); } }

.container .tournament-bckg {
  height: 100%;
  background-color: #CC2936;
  display: flex; }
  .container .tournament-bckg .left-bracket {
    flex: 1; }
  .container .tournament-bckg .right-bracket {
    flex: 1; }
