<div class="container">
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Register to Mondaily</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">User name</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" placeholder="User" class="form-control input-md" required="">

        </div>
      </div>


      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectCountry">Select country</label>
        <div class="col-md-4">
          <select id="selectCountry" name="selectCountry" class="form-control">
            <!--dropdown-toggle ??-->
            <option value="Argentina">Argentina</option>
            <option value="Australia">Australia</option>
            <option value="Belgium">Belgium</option>
            <option value="Brazil">Brazil</option>
            <option value="Colombia">Colombia</option>
            <option value="Croatia">Croatia</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Denmark">Denmark</option>
            <option value="Egypt">Egypt</option>
            <option value="England">England</option>
            <option value="France">France</option>
            <option value="Germany">Egypt</option>
            <option value="Iceland">Iceland</option>
            <option value="Iran">Iran</option>
            <option value="Japan">Japan</option>
            <option value="Korea South">Korea South</option>
            <option value="Mexico">Mexico</option>
            <option value="	Morocco"> Morocco</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Panama">Panama</option>
            <option value="Peru">Peru</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Russia">Russia</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Senegal">Senegal</option>
            <option value="Serbia">Serbia</option>
            <option value="Spain">Spain</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Tunisia">Tunisia</option>
            <option value="Uruguay">Uruguay</option>
          </select>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="email">E-mail</label>
        <div class="col-md-4">
          <input id="email" name="email" type="text" placeholder="user-email@mail.com" class="form-control input-md" required="">

        </div>
      </div>



      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="passwordinput">Password</label>
        <div class="col-md-4">
          <input id="passwordinput" name="passwordinput" type="password" placeholder="Enter your password" class="form-control input-md"
            required="">

        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="Regbutton"></label>
        <div class="col-md-4">
          <button id="Regbutton" name="Regbutton" class="btn btn-primary">Register</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>