<div class="container">
    <div class="row">
        <div class="col-md-3">
            <legend class="chat">Chat Messages</legend>
            <div class="chat-container"></div>

            <div class="panel-footer">
                <div class="input-group">
                    <input id="input-chat" type="text" class="form-control" placeholder="Your message..." />
                    <span class="input-group-btn">
                        <button id="btn-chat" type="button" class="btn btn-warning">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>